<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bismillah">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_aplikasi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".semester6"></activity>
        <activity android:name=".semester5" />
        <activity android:name=".semester4" />
        <activity android:name=".semester3" />
        <activity android:name=".semester2" />
        <activity android:name=".semester1" />
        <activity android:name=".ActivityTambahPrestasi" />
        <activity android:name=".ActivityPrestasi" />
        <activity android:name=".ActivityKetrampilan" />
        <activity android:name=".ActivityMagang" />
        <activity android:name=".ActivityTambahKetrampilan" />
        <activity android:name=".ActivityTambahMagang" />
        <activity android:name=".ActivityTambahBahasa" />
        <activity android:name=".ActivityBahasa" />
        <activity android:name=".ActivityTambahOrganisasi" />
        <activity android:name=".ActivityOrganisasi" />
        <activity android:name=".ActivityEvaluasiDosen2" />
        <activity android:name=".ActivityEvaluasiDosen" />
        <activity android:name=".DaftarUlang" />
        <activity android:name=".ActivityPemahaman" />
        <activity android:name=".Pengumuman" />
        <activity android:name=".ActivityUbahDataOrtu" />
        <activity android:name=".ActivityUbahDataDiri" />
        <activity android:name=".activityLms" />
        <activity android:name=".ActivityRekapPresensi" />
        <activity android:name=".DataOrtu" />
        <activity android:name=".DataDiri" />
        <activity android:name=".RegistrasiActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HasilStudi" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>